body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
h1{
    font-size: 70px;
    font-weight:bold; 
}
h2{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
p{
    font-size: 25px;
    color: gray;
    padding-bottom: 5%;
}
.top-banner{
    color: white;
    height: 100%;
    background-image: url(images/donate.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    padding: 175px 335px;
    margin-bottom: 10%;
}
.header p{
    color: white;
}
.section-item{
    padding-bottom: 10%;
}

.container{
    width: 100%;
    text-align: center;
}
.btn{
    text-decoration: none;
    padding: 20px 40px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    background-color: tomato;
}
.small-card-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.small-card{
    background-color: #FAFAFA;
    height: 100px;
    width: 100px;
    text-align: center;
    margin-right: 2%;
    border-radius: 5px;
    
}

#small-card-200{
    color: tomato;
    border: 2px solid tomato;
    background-color: #FFEEEE;
}
.other-amount{
    width: 100%;
}
.other-amount-container{
    width: 100%;
    justify-content: center;
}
#other-amount-input {
    font-size: 15px;
    width:40%;
    text-align: center;
    padding: 20px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray;
    margin-left: 30%;
}
.btn-set{
    margin-top: 5%;
    margin-left: 43%;
    cursor: pointer;
}
.donate-card-container{
    display: flex;
    margin-left: 5%;
}
.donate-card{
    width: 25%;
    padding-left: 30px;
    padding-right: 5px;
    padding-top: 70px;
    padding-bottom: 5%;
    margin-left: 2%;
    border-radius: 5px; 
}
#food-for-family{
    background-color: #edf5f6;
}

#shelter-for-family{
    background-color: #ffeeee;
}
#education-for-child{
    background-color: #fff4d6;
}
#get-update{
    padding-top: 5%;
}
.subscribe{
    width: 950px;
    height: 150px;
    background-color: #FFF4D6;
    margin-left: 27%;
    margin-bottom: 5%;
    padding-top: 5%;
    justify-content: center;
}
.subscribe-form{
    padding-bottom: 15%;
}
.subscribe-btn{
    height: 63px;
    width: 150px;
    color: white;
    font-weight: 700;
    background-color: tomato;
    border-radius: 0px 5px 5px 0;
    margin-left: -8px;
    border: none;
    font-weight: 700;
    font-size: 18px;
}
.text-input{
    height: 60px;
    width: 341px;
    font-size: 18px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 5px;
}
.covid-section{
    display: flex;
    background-image: url(images/covid-background.png);
    background-color: black;
    color: white;
    padding-bottom: 5%;
}
.covid{
    width: 40%;
    padding-top: 15%;
    padding-right: 10%;
}
.covid img{
    width: 100%;  
}
.covid-19{
    color: tomato;
}
footer{
    color: white;
    width: 100%;
    height: 150px;
    margin-bottom: 0;
    background-color: black;
    text-align: center;
    padding-top: 1%;
}
footer h3{
    color: tomato;
}
footer p{
    padding-bottom: 0%;
    font-size: 20px;
}
